.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    height: 80vh;
    width: 100vw;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: auto;
    height: 170px;
    grid-row: 2/2;
}
