main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 20px;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    height: 80vh;
    width: 70vw;
    grid-column: 2/3;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: auto;
    height: 170px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
